* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: Verdana, serif;
}

.container-all {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.container-all > * {
  width: 50vw;
  text-align: center;
}

.todo-title {
  font-family: 'Segoe Script', serif;
}

.daily-task-title {
  font-family: Verdana, serif;
}

.main-form {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 1rem;
}

.today-container {
  display: flex;
  justify-content: space-between;
}

.reset-all {
  align-self: center;
  cursor: pointer;
  transition: 0.5s ease;
}

.reset-all:hover {
  transform: rotate(360deg);
  transition: 0.3s ease;
}

.inputBtn {
  display: flex;
  gap: 1rem;
}

.enter-task {
  flex-grow: 1;
  height: 32px;
  position: relative;
}

.in-put {
  height: 100%;
  width: 100%;
  padding: 0 0.5rem;
  display: block;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
}

::placeholder {
  font-style: italic;
  color: darkgrey;
}

.add-task {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  background-color: #6363fe;
  border: none;
  color: white;
  transition: 0.3s ease-out;
  font-size: 0.7rem;
  font-weight: 400;
}

.add-task:hover {
  background-color: #7474ff;
  transition: 0.3s ease-in;
  box-shadow: 0 0 20px -18px;
}

.clear-btn {
  display: flex;
  justify-content: end;
}

.clear-all {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #6363fe;
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.clear-all:hover {
  cursor: pointer;
  background-color: #ff6464;
  transition: 0.3s ease-out;
  box-shadow: 0 0 20px -18px;
}

button:active {
  transform: scale(0.95);
}

.input-label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 9px;
  top: 5px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.in-put:focus ~ .input-label,
.in-put:not(:placeholder-shown) ~ .input-label {
  top: -12px;
  font-size: 14px;
  color: #5264ae;
}

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar::before,
.bar::after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264ae;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar::before {
  left: 50%;
}

.bar::after {
  right: 50%;
}

.in-put:focus ~ .bar::before,
.in-put:focus ~ .bar::after {
  width: 50%;
}

.highlight {
  position: absolute;
  height: 70%;
  width: 90%;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.in-put:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
  from {
    background: #5264ae;
  }

  to {
    width: 0;
    background: transparent;
  }
}

.tasks-lists {
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.tasks-lists li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
}

.task-checkbox {
  display: flex;
  gap: 0.8rem;
}

.edit-delete-btn {
  display: flex;
  gap: 1rem;
}

.edit-delete-btn > * {
  padding: 0.3rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  color: white;
  transition: 0.3s ease-out;
  font-size: 0.7rem;
  font-weight: 400;
}

.edit-delete-btn > *:hover {
  box-shadow: 0 0 20px -18px;
  transition: 0.3s ease-in;
}

.edit-delete-btn > *:active {
  transform: scale(0.95);
}

.edit-btn {
  background-color: #6363fe;
}

.edit-btn:hover {
  background-color: #7474ff;
}

.edit-btn:active {
  background-color: #acacd3;
}

.delete-btn {
  background-color: #ff6464;
}

.delete-btn:hover {
  background-color: #fe8484;
}

.delete-btn:active {
  background-color: #e0c4c4;
}
